
h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 22px;
}

body {
  text-align: center;
  background: url("../images/london_paris_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  color: black;
}

input[type="submit"] {
  background: red;
  color: white;
}

blockquote {
  border-left: 0px solid #eee;
}
